# -----------------------------------------------------------------------
# Visual Studio
# -----------------------------------------------------------------------
.vs/
*.user
*.suo
*.ncb
*.sdf
*.opensdf
*.VC.db
*.VC.opendb
ipch/

# Build output
bin/
obj/
*.obj
*.pdb
*.ilk
*.exp
*.lib
*.map

# -----------------------------------------------------------------------
# Windows Driver / WDK
# -----------------------------------------------------------------------
*.sys.bak
*.cer
*.pfx
*.pvk
*.cat

# -----------------------------------------------------------------------
# OS
# -----------------------------------------------------------------------
Thumbs.db
Desktop.ini
.DS_Store
*.ps1
*.bat
